body.document {
  background-color: #111;
  color: rgb(209,218,222);
}

div.header {
  border-right: 5px solid rgb(200,200,0);;
  border-left: 5px solid rgb(200,200,0);
  border-bottom: none;
  background-color: rgb(6, 28, 37);
}

h1.title {
  font-family: sans-serif;
  padding-left: 40%;
  color: rgb(200,200,0)
}

p.title {
  padding-left: 10px;
  color: rgb(209,218,222);
}

div.docs {
  font-family: sans-serif;
  height: 455px;
  border: 5px solid rgb(200,200,0);
  background-color: rgb(6,28,37);
}

div.top {
  font-family: sans-serif;
  height: 35px;
}

.lateral {
  width:250px;
  height: 455px;
  margin: 0px;
  padding: 0px 10px 0px 0px;
  position: absolute;
}

div.content {
  padding-top: 10px;
  padding-left: 260px;
}

div.content a {
  color: rgb(200,200,0);
}
